<!doctype html>
<html ng-app="shade">

<head>
    <title>Colors</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <div ng-controller="colorCtrl as CTRL">
        <form>
            <input type="text" ng-model="CTRL.newColor">
            <button ng-click="CTRL.addNewColor(CTRL.newColor)" ng-click="myStyle={'background-color':'blue'}"> ADD COLOR </button>
        </form>
        <ul ng-repeat="color in CTRL.colors">
            <li ng-style="{'background-color':'{{color}}'}">{{color}} <a class="btn" ng-click="CTRL.removeColor($index)">Delete</a></li>
        </ul>
    </div>
</body>

</html>
